body {
    height: 232.8vh;
}

.header-section {
    height: 15vh;
    background-color: #b617ff;
    width: 100vw;
}

.search-section, .nav-bar {
    height: 7.5vh;    
    width: 100vw;
    text-align: center;
}

.search-container {
    width: 30%; 
    height: 41px;
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: inline-block;
    margin-top: 5vh;
} 

#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 30px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #000000;
      transition: 0.35s ease;
      color: #000000;
      &::-webkit-input-placeholder{
            transition: opacity 0.45s ease; 
            opacity: 0;
       }
      &::-moz-placeholder {
            transition: opacity 0.45s ease; 
            opacity: 0;
       }
      &:-ms-placeholder {
            transition: opacity 0.45s ease; 
            opacity: 0;
        }    
    }
}
  
.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -58px;
    right: -10px;
}

.logo-section {
    margin-left: 2vh;
    height: 14vh;
    width: 8vw;
    float: left;
}

#logo {
    height: 14vh;
    width: 8vw;
}

.nav-bar {
    width: 100vw;
    line-height: 6vh;
    position: relative;
    right: 98.3px;
    margin-top: 0.5vh;
}

.div-nav-burger {
    width: 4px;
    height: 4px;
    right: -30px;
}

.options {
    height: 4vh;
    margin-left: 3vw;
    text-decoration:none;
    color: white;
    vertical-align: middle;
    line-height: normal;
}

.options:hover {
    padding: 0.5%;
    transition-duration: 0.5s;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 15px;
}

#open-cart {
    height: 17.6px;
    width: 60px;
    margin-left: 2.9vw;
    padding: 0.01%;
    cursor: pointer;
    background-color: #b617ff;
    border-radius: 15px;
    border: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}

#open-cart:hover {
    height: 33px;
    width: 72px;
    transition-duration: 0.5s;
    background-color: rgb(0, 0, 0, 0.3);
}

#made-form {
    margin-left: 2.9vw;
}

.content-section {
    text-align: center;
    background-color: #ebebeb;
    width: 100vw;
    height: 132vh;
}

.contents {
    height: 85vh;
    width: 85vw;
    margin-top: 12vh;
    display: inline-block;
}

.market-item {
    height: 75vh;
    width: 85vw;
    background-color: white;
    border-radius: 7px;
    float: left;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

.imgs-container {
    width: 195px;
    position: relative;
    top: -475px;
}

.imgs {
    height: 155px;
    width: 195px;
    margin-bottom: 2vh;
    display: block;
    margin-left: 7px;
    cursor: pointer;
}

.imgs:hover {
    filter: brightness(50%)
}

.img1-container {
    height: 67vh;
    width: 31vw;
    position: relative;
    display: flex;
    top: 70px;
    left: 240px;
    justify-content: center;
}

.img2-container {
    height: 67vh;
    width: 31vw;
    position: relative;
    top: 74px;
    left: 1050px;
    justify-content: center;
    display: none;
}

.img3-container {
    height: 67vh;
    width: 31vw;
    position: relative;
    top: 70px;
    left: 180px;
    justify-content: center;
    display: none;
}

.img {
    justify-content: center;
    margin-bottom: 2vh;
    position: relative;
    float: right;
}

#img1 {
    height: 67vh;
    width: 31vw;
    top: 0px;
}

#img2 {
    height: 70vh;
    width: 31vw;
    top: 0px;
    left: -800px;
}

#img3 {
    height: 67vh;
    width: 31vw;
    top: 0px;
    left: 50px;
}


.inf-section {
    float: right;
    width: 28vw;
    height: 65vh;
    position: relative;
    left: -60px;
    top: -972px;
    border-left: 2px solid black;
}

.titleAndPrice {
    height: 10vh;
    width: 30vw;
    position: relative;
    float: right;
    left: 40px;
    top: 15px;
}

.size-div {
    width: 20vw;
    position: relative;
    float: right;
    left: -143.8px;
    top: 87px;
}

.size-options { 
    position: relative;
    left: 70px;
}

.quantity-div {
    width: 20vw;
    position: relative;
    float: right;
    left: -135px;
    top: 130px;
}

.inf {
    left: -40px;
    position: relative;
}

.cart-div {
    width: 16vw;
    height: 58px;
    position: relative;
    float: right;
    left: -160px;
    top: 200px;
}

.add-cart:hover {
    background-color: rgb(226, 87, 0);
}

.add-cart {
    font-size: 17px;
    padding: 7%;
    width: 15vw;
    color: white;
    background-color: rgb(255, 98, 0);;
    border: none;
    position: relative;
    right: -4px;
    top: 6px;
    display: block;
    text-decoration: none;
    border-radius: 30px;
}

.prices, .titles {
    text-align: left;
    margin-left: 1.5vw;
}

.titles {
    font-size: 35px;
}

hr {
    border: 0px;
    border-top: 1px solid lightgrey;
}

.pop-up-container {
    width: 100vw;
    position: fixed; 
    left: 50%; 
    transform: translate(-50%, 0);
    top: 10px;
    display: none;
    z-index: 999;

}

.pop-up {
    display: flex;
    position: absolute; left: 50%; transform: translate(-50%, 0);
    flex-direction: column;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
}

.cart-span {
    margin-top: 2px;
}

.items-cart {
    float: left;
    position: relative;
    left: 100px;
    
}

.prices-cart {
    float: right;   
    right: 220px;
    position: relative;
    
}

.quantity-cart {
    display: none;
    width: 7%;
    position: relative;
    left: 110px;
}

.title-cart {
    margin-bottom: 10px;
}

.total {
    border-top: 1px solid black;
    position: relative;
    left: 67px;
    width: 64%;
    margin-bottom: 8px;
}

.totalP {
    position: relative;
    float: left;
    left: 68px;
    margin-top: 8px;
}

#totalValue {
    position: relative;
    left: 260px;
}

.removed {
    display: none;
}

.btns-remove {
    display: none;
    float: right;
    font-size: medium;
    padding: 7px;
    position: relative;
    top: -28px;
    right: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: red;
}

.active {
    display: block;
}

.active .pop-up {
    animation: pop-up .4s;
}

@keyframes pop-up {
    from {
        opacity: 0;
        transform: translate3d(-50%, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(-50%, 0px, 0);
    }
}

.items {
    margin: 10px auto;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btnFinish {
    background-color: red;
}

.btnClose {
    background-color: #b617ff;
}

.form-section {
    position: relative;
    text-align: center;
    top: 200px;
    height: 93vh;
    background-color: #b617ff;
    color: white;
}

.form-title {
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 42px;
    width: 60vw;
    top: 80px;
}

#form {
    position: relative;
    top: 180px;
    font-size: 30px;
}

#name, #email, #phone {
    font-size: 25px;
}

#email, #phone {
    margin-top: 10vh;
}

#send-form {
    margin-top: 10vh;
    text-align: center;
    font-size: 25px;
}

footer {
    position: relative;
    top: 552px;
    background-color: #b617ff;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 1250px) {
    body {
        height: 235vh;
    }

    .nav-bar { 
        left: -75px;
    }

    .content-section {
        height: 120.2vh;
    }

    .contents {
        height: 75vh;
    }

    .imgs-container {
        top: -400px;
    }

    .img1-container {
        top: 60px;
        left: 225px;
    }
    
    .img2-container {
        top: 60px;
        left: 1000px;
    }
    
    .img3-container {
        top: 60px;
        left: 150px;
    }

    .imgs {
        height: 135px;
        width: 135px;
        margin-left: 2px;
    }

    .inf-section {
        left: -30px;
        top: -822.1px;
    }

    .titleAndPrice {
        left: 40px;
        top: 15px;
    }

    .size-div {
        left: -90px;
        top: 100px;
    }
    
    .quantity-div {
        left: -82px;
        top: 140px;
    }
    
    .cart-div {
        width: 35vh;
        height: 47px;
        left: -484px;
        top: 176px;
    }
    
    .add-cart {
        right: -400px;
        width: 200px;
    }
    
    .pop-up {
        padding: 0px;
    }

    .title-cart {
        position: relative;
        top: 12px;
    }

    .cart-span {
        margin-top: 0px;
        height: 47px;
        width: 550px;
    }

    .items-cart {
        left: 60px;
    }
    
    .prices-cart {
        left: -110px;
    }
    
    .quantity-cart {
        left: 70px;
    }
    
    .total {
        width: 76%;
        left: 40px;
    }
    
    .totalP {
        left: 30px;
    }
    
    #totalValue {
        left: 250px;
    }

    .btns {
        margin-top: 0px;
        position: relative;
        top: -12px;
    }

    .btnClose {
        margin-left: 20px;
    }
    
    .btnFinish {
        margin-right: 20px;
    }
    
    .btns-remove {
        left: -5px;
    }

    .form-section {
        height: 100vh;
    }

    footer {
        top: 545px;
    }
}


@media (max-width: 800px) {
    body {
        height: 258.5vh;
    }

    .nav-bar {
        width: 109.4vw;
    }

    .options {
        position: relative;
        top: -300px;
    }

    .nav-burger-menu {
        position: relative;
        top: 21px;
        display: none;
        width: 15vw;
        right: 46px;
        background-color: #b617ff;
    }  

    .options-nav-burger {
        height: 6.2vh;
        width: 15vw;
        text-decoration:none;
        background-color: #b617ff;
        color: white;
    }

    .options-nav-burger:hover {
        background-color: rgb(0, 0, 0, 0.01);
        padding: 0.5%;
        transition-duration: 0.5s;
    }

    #open-cart-burger {
        height: 6vh;
        background-color: #b617ff;
        border: none;
        cursor: pointer;
        font-family:'Times New Roman', Times, serif;
        font-size: 16px;
    }

    #open-cart-burger:hover {
        background-color: rgb(0, 0, 0, 0.01);
        padding: 0.5%;
        transition-duration: 0.5s;
    }

    .nav-burger-square {
        display: inline-flex;
        width: 15vw;
        height: 6vh;
        position: relative;
    }

    .nav-burger-square:hover {
        background-color: rgb(0, 0, 0, 0.3);
    }

    .div-nav-burger {
        position: relative;
        right: 89px;
        height: 4vh;
        width: 0.1vw;
        float: right;
    }
    
    #navBurger {
        position: absolute;
        opacity: 0;
    }
    
    .label-nav-burger {
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 26px;
    }
    
    .span-nav-burger {
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 30px;
        background-color: white;
        transition: 0.25s ease-in-out;
    }
    
    .label-nav-burger span:nth-child(1) {
        top: 0;
    }
    
    .label-nav-burger span:nth-child(2) {
        top: 8px;
    }
    
    .label-nav-burger span:nth-child(3) {
        top: 16px;
    }
    
    #navBurger:checked + .label-nav-burger span:nth-child(1) {
        transform: rotate(-45deg);
        top: 8px;
    }
    
    #navBurger:checked + .label-nav-burger span:nth-child(2) {
        opacity: 0;
    }
    
    #navBurger:checked + .label-nav-burger span:nth-child(3) {
        transform: rotate(45deg);
        top: 8px;
    }

    .logo-section {
        width: 12vw;
    }

    #logo {
        width: 12vw;
    }

    .content-section {
        height: 145.2vh;        
    }

    .contents {
        height: 100vh;
    }

    .market-item {
        height: 100vh;
    }

    .imgs {
        height: 120px;
        width: 130px;
        margin-left: 7px;
        margin-bottom: 0.05vh;
    }

    .imgs-container {
        top: -400px;
    }

    .img1-container {
        width: 50vw;
        top: 30px;
        left: 200px;
    }
    
    .img2-container {
        width: 50vw;
        top: 30px;
        left: 200px;
    }
    
    .img3-container {
        width: 50vw;
        top: 30px;
        left: 145px;
    }

    #img1 {
        width: 50vw;
    }
    
    #img2 {
        width: 50vw;
        left: 0
    }
    
    #img3 {
        width: 50vw;
    }

    .inf-section {
        width: 80vw;
        height: 25vh;
        left: -40px;
        top: -415px;
        border-left: none;
    }

    .titleAndPrice {
        height: 12vh;
        width: 55vw;
        left: 10px;
        top: 20px;
        float: left;
        border-left: none;
    }

    .size-div {
        width: 24vw;
        float: left;
        left: -390px;
        top: 160px;
        font-size: 19px;
    }
    
    .quantity-div {
        width: 25.2vw;
        float: left;
        left: 370px;
        top: 69px;
        font-size: 19px;
    }
    
    .cart-div {
        width: 206px;
        height: 66px;
        float: left;
        left: 225px;
        top: -81px;
    }
    
    .add-cart {
        width: 202px;
        padding: 9%;
        right: -4px;
        top: 5px;
    }
    
    .pop-up {
        padding: 10px;
        width: 80%;
    }

    .items, .btns button {
        font-size: smaller;
    }

    footer { 
        top: 546px;
    }
}